body{
  font-family: Arial;
  background-color: rgb(134, 133, 133);
  padding: 30px;
  color: #333;
}

.app{
  background-color: #efefef;
  max-width: 600px;
  margin: 0 auto 300px;
  padding: 20px 30px;
  border-radius: 10px;
}

h1{
  text-align: center;
}

h2{
  margin-bottom: 10px;
}

p{
  margin: 10px 0;
}

input{
  box-sizing: border-box;
}

.todo-list{
  background-color: blue;
}
.todo{
  background-color: blueviolet;
}
.content{
  background-color: green;
}
.category{
  background-color: brown;
}